node-red/web.json
[
    {
        "id": "b20ec8894eaf7fb1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6057b83c0b5dc940",
        "type": "ui_form",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "label": "",
        "group": "160add999d0748a9",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "Username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "Password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Username": "",
            "Password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "fac2d06672d58541",
                "dfd45d875758e945"
            ]
        ]
    },
    {
        "id": "fac2d06672d58541",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 1",
        "func": "var username = 'admin';\nvar password = 'admin';\nvar usern = msg.payload.Username;\nvar pass = msg.payload.Password;\n\nmsg.payload = \"Dang nhap ko thanh cong!\";\n\nif (usern == username && pass == password)\n    msg.payload = \"Dang nhap thanh cong!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "ea9383245db279e1",
                "52c2a83852e0444f"
            ]
        ]
    },
    {
        "id": "ea9383245db279e1",
        "type": "ui_toast",
        "z": "b20ec8894eaf7fb1",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "52c2a83852e0444f",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 2",
        "func": "if (msg.payload == \"Dang nhap thanh cong!\")\n    msg.payload = { \"tab\": \"Menu\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 240,
        "wires": [
            [
                "66299a22b9d54d70"
            ]
        ]
    },
    {
        "id": "66299a22b9d54d70",
        "type": "ui_ui_control",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "events": "all",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "dfd45d875758e945",
        "type": "debug",
        "z": "b20ec8894eaf7fb1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "0791f4ed43649261",
        "type": "inject",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "52c2a83852e0444f"
            ]
        ]
    },
    {
        "id": "9c8c52bedf5c873a",
        "type": "ui_text",
        "z": "b20ec8894eaf7fb1",
        "group": "61970d7d5fa66a46",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Overview",
        "label": "Overview",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 160,
        "y": 540,
        "wires": []
    },
    {
        "id": "c54875a540ca21ba",
        "type": "ui_media",
        "z": "b20ec8894eaf7fb1",
        "group": "61970d7d5fa66a46",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 2,
        "category": "psc",
        "file": "overview.gif",
        "layout": "expand",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "muted": false,
        "scope": "local",
        "tooltip": "",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "cb9059140dcb9521"
            ]
        ]
    },
    {
        "id": "eeaa467c39a206ea",
        "type": "debug",
        "z": "b20ec8894eaf7fb1",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "b359e52833dd02b2",
        "type": "ui_media",
        "z": "b20ec8894eaf7fb1",
        "group": "61970d7d5fa66a46",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 10,
        "category": "DETAIL",
        "file": "368557548_4840967889360149_7117992357582148015_n.png",
        "layout": "expand",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 330,
        "y": 720,
        "wires": [
            [
                "eeaa467c39a206ea"
            ]
        ]
    },
    {
        "id": "cb9059140dcb9521",
        "type": "debug",
        "z": "b20ec8894eaf7fb1",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "3776fbc747f10968",
        "type": "ui_text",
        "z": "b20ec8894eaf7fb1",
        "group": "61970d7d5fa66a46",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "details",
        "label": "Outside Details",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 150,
        "y": 720,
        "wires": []
    },
    {
        "id": "c59e1ea734f5ea62",
        "type": "mqtt in",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "topic": "psc/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "975d8706145af5ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1280,
        "wires": [
            [
                "599fc8a120ab52ac"
            ]
        ]
    },
    {
        "id": "e64e6e8928d9e684",
        "type": "mqtt in",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "topic": "psc/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "975d8706145af5ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "040e55d9d999817d"
            ]
        ]
    },
    {
        "id": "599fc8a120ab52ac",
        "type": "ui_gauge",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "d253555ef448e8b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "34",
        "seg2": "45",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 1280,
        "wires": []
    },
    {
        "id": "040e55d9d999817d",
        "type": "ui_gauge",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "d253555ef448e8b0",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 1340,
        "wires": []
    },
    {
        "id": "bdf6b35b6c2d7c8b",
        "type": "mqtt in",
        "z": "b20ec8894eaf7fb1",
        "name": "Food_status",
        "topic": "psc/food-status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "975d8706145af5ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1400,
        "wires": [
            [
                "8cfaa2cfeb31c36a"
            ]
        ]
    },
    {
        "id": "8cfaa2cfeb31c36a",
        "type": "ui_text",
        "z": "b20ec8894eaf7fb1",
        "group": "344765c4563d993a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Food (gram):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 1400,
        "wires": []
    },
    {
        "id": "8ff504ab7917c12a",
        "type": "mqtt in",
        "z": "b20ec8894eaf7fb1",
        "name": "Water_status",
        "topic": "psc/water-status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "975d8706145af5ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1460,
        "wires": [
            [
                "7be425b04d4266df"
            ]
        ]
    },
    {
        "id": "7be425b04d4266df",
        "type": "ui_text",
        "z": "b20ec8894eaf7fb1",
        "group": "344765c4563d993a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water (ml):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 1460,
        "wires": []
    },
    {
        "id": "d24b5a861a754e3c",
        "type": "ui_template",
        "z": "b20ec8894eaf7fb1",
        "group": "14211e290d484a55",
        "name": "",
        "order": 9,
        "width": 0,
        "height": 0,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: flex-start;\">\n    <p style=\"margin: 5px;\">1: Nắp máy</p>\n    <p style=\"margin: 5px;\">2: Loa</p>\n    <p style=\"margin: 5px;\">3: Thân máy</p>\n    <p style=\"margin: 5px;\">4: Máy phun sương</p>\n    <p style=\"margin: 5px;\">5: Khay thức ăn</p>\n    <p style=\"margin: 5px;\">6: Khay nước uống</p>\n    <p style=\"margin: 5px;\">7: Hộp thả thức ăn</p>\n    <p style=\"margin: 5px;\">8: Vòi thả nước</p>\n    <p style=\"margin: 5px;\">9: Màn hình điều khiển</p>\n    <!-- Thêm các dòng tiếp theo tương tự -->\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "21c8f52f95c428f5",
        "type": "ui_media",
        "z": "b20ec8894eaf7fb1",
        "group": "68839c808d9d0a0d",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 5,
        "category": "DETAIL",
        "file": "368189909_1520560788347910_3159125749913313114_n.png",
        "layout": "expand",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 330,
        "y": 760,
        "wires": [
            [
                "eeaa467c39a206ea"
            ]
        ]
    },
    {
        "id": "e4e7b6c6ed0f0670",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "4ae676b669774922",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Product Information 📖",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "product_infor",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "597583433eb95d14"
            ]
        ]
    },
    {
        "id": "cb059dd2daa062af",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "4ae676b669774922",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Data receiving   📊",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "data_receive",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "597583433eb95d14"
            ]
        ]
    },
    {
        "id": "c692f5a4d25be816",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "4ae676b669774922",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Contact Us   📞",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "contact",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "597583433eb95d14"
            ]
        ]
    },
    {
        "id": "597583433eb95d14",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 5",
        "func": "var payload = msg.payload;\n\nif (payload == \"product_infor\")\n    msg.payload = { \"tab\": \"Product Information\" };\nelse if (payload == \"data_receive\")\n    msg.payload = { \"tab\": \"Data Receiving\" };\nelse if (payload == \"return login\")\n    msg.payload = { \"tab\": \"Login\" };\nelse \n    msg.payload = { \"tab\": \"Contact Us\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "4641b8e8ed8240ee"
            ]
        ]
    },
    {
        "id": "4641b8e8ed8240ee",
        "type": "ui_ui_control",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "events": "all",
        "x": 760,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5493f9c62638f452",
        "type": "comment",
        "z": "b20ec8894eaf7fb1",
        "name": "MENU",
        "info": "IN TAB 'MENU', THERE ARE 4 OPTIONS FOR USER TO SELECT TO MOVE TO CORRESPONDING TABS\n1. PRODUCT INFORMATION: THIS TAB HAS IMAGES OF PRODUCT AND DETAILS OF THE MACHINE.\n2. DATA RECEIVING: THIS TAB CONTAINS REALITY DATA TRANSMITTED FROM THE MACHINE IN ORDER TO LET USER SUPERVISE THEIR MACHINE'S STATUS.\n3. CONTACT US: THIS TAB INCLUDES INFORMATION OF PRODUCER.\n4. LOG OUT: USER CAN LOG OUT THEIR ACCOUNT IF THEY DO NOT WANT TO CONTINUE BEING ONLINE.",
        "x": 70,
        "y": 280,
        "wires": []
    },
    {
        "id": "e2e93c598bd9e74d",
        "type": "ui_template",
        "z": "b20ec8894eaf7fb1",
        "group": "1745d8e2d6296b68",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: flex-start;\">\n    <p style=\"margin: 5px;\">HỌ TÊN</p>\n    <p style=\"margin: 5px;\">1) <span style=\"margin-right: 3em;\">Đinh Thị Thùy Dương</span><span>21127572</span></p>\n    <p style=\"margin: 5px;\">2) <span style=\"margin-right: 6.2em;\">Đinh Bảo Trân</span><span>21127454</span></p>\n    <p style=\"margin: 5px;\">3) <span style=\"margin-right: 5.2em;\">Đoàn Việt Hưng</span><span>21127289</span></p>\n    <p style=\"margin: 5px;\"><span style=\"margin-right: 11.4em;\">LỚP:</span><span>21CLC03</span></p>\n    <p style=\"margin: 5px;\"><span style=\"margin-right: 9.2em;\">HOTLINE:</span><span>0123456789</span></p>\n    <p style=\"margin: 5px;\">EMAIL:</p>\n    <p style=\"margin: 5px;\">petsmartcareService@gmail.com</p>\n    <!-- Thêm các dòng tiếp theo tương tự -->\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 160,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "58303054543031c1",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "14211e290d484a55",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "back to menu 🔙",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "return menu",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1000,
        "wires": [
            [
                "9610af228a68a0cb"
            ]
        ]
    },
    {
        "id": "9610af228a68a0cb",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 6",
        "func": "var payload = msg.payload;\n\nif(payload == \"return menu\")\n    msg.payload = { \"tab\": \"Menu\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1000,
        "wires": [
            [
                "9dbeaaecb2b527de"
            ]
        ]
    },
    {
        "id": "9dbeaaecb2b527de",
        "type": "ui_ui_control",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "events": "all",
        "x": 600,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "5e4ad5f6cd0a185d",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "344765c4563d993a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "back to menu 🔙",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "return menu",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 2140,
        "wires": [
            [
                "336d6a41d619df8e"
            ]
        ]
    },
    {
        "id": "336d6a41d619df8e",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 7",
        "func": "var payload = msg.payload;\n\nif(payload == \"return menu\")\n    msg.payload = { \"tab\": \"Menu\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2140,
        "wires": [
            [
                "0ec985ec19c968e6"
            ]
        ]
    },
    {
        "id": "0ec985ec19c968e6",
        "type": "ui_ui_control",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "events": "all",
        "x": 680,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "93f54dfe3979e610",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "1745d8e2d6296b68",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "back to menu 🔙",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "return menu",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 2260,
        "wires": [
            [
                "56a35c6bc4bc8d98"
            ]
        ]
    },
    {
        "id": "56a35c6bc4bc8d98",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 8",
        "func": "var payload = msg.payload;\n\nif(payload == \"return menu\")\n    msg.payload = { \"tab\": \"Menu\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2260,
        "wires": [
            [
                "e340ce50d943c856"
            ]
        ]
    },
    {
        "id": "e340ce50d943c856",
        "type": "ui_ui_control",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "events": "all",
        "x": 680,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "91cdf2a02c886d4c",
        "type": "ui_switch",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "label": "Off-On Misting",
        "tooltip": "",
        "group": "344765c4563d993a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 1140,
        "wires": [
            [
                "8ddda741cccecb8d"
            ]
        ]
    },
    {
        "id": "8ddda741cccecb8d",
        "type": "mqtt out",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "topic": "psc/power",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "975d8706145af5ed",
        "x": 670,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9da3cc6fbfc7b6b6",
        "type": "ui_text",
        "z": "b20ec8894eaf7fb1",
        "group": "344765c4563d993a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MISTING STATUS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#2fa4c1",
        "x": 190,
        "y": 1140,
        "wires": []
    },
    {
        "id": "609b0be03e78ad87",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "344765c4563d993a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DATA VISUALIZATION 📈",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "data visualize",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 1200,
        "wires": [
            [
                "835175383601279d"
            ]
        ]
    },
    {
        "id": "835175383601279d",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 9",
        "func": "var payload = msg.payload;\n\nif (payload == \"data visualize\")\n    msg.payload = { \"tab\": \"Data Visualization\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1200,
        "wires": [
            [
                "12716fab7a537aed"
            ]
        ]
    },
    {
        "id": "12716fab7a537aed",
        "type": "ui_ui_control",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "events": "all",
        "x": 660,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "3c668abe8df3c209",
        "type": "http request",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2238550/fields/1.json?api_key=THS89KD5KM6IIIBL&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 1560,
        "wires": [
            [
                "e8b29ced24a65b50",
                "d57d080b21c5f543"
            ]
        ]
    },
    {
        "id": "7285eaf945a67a15",
        "type": "ui_chart",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "c38f0a004a3c58cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "e8b29ced24a65b50",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 10",
        "func": "let obj = msg.payload;\nmsg.payload = obj.feeds[0].field1\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1560,
        "wires": [
            [
                "7285eaf945a67a15"
            ]
        ]
    },
    {
        "id": "d57d080b21c5f543",
        "type": "debug",
        "z": "b20ec8894eaf7fb1",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1600,
        "wires": []
    },
    {
        "id": "b35df4d33168eefa",
        "type": "inject",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1560,
        "wires": [
            [
                "3c668abe8df3c209"
            ]
        ]
    },
    {
        "id": "be4ff56149c2f2b7",
        "type": "http request",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2238550/fields/2.json?api_key=THS89KD5KM6IIIBL&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 1660,
        "wires": [
            [
                "37e78d87bc8598d6",
                "48a5ee6957fa3415"
            ]
        ]
    },
    {
        "id": "f65c0913fcf1de8e",
        "type": "ui_chart",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "c38f0a004a3c58cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "37e78d87bc8598d6",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 11",
        "func": "let obj = msg.payload;\nmsg.payload = obj.feeds[0].field2\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1660,
        "wires": [
            [
                "f65c0913fcf1de8e"
            ]
        ]
    },
    {
        "id": "48a5ee6957fa3415",
        "type": "debug",
        "z": "b20ec8894eaf7fb1",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1700,
        "wires": []
    },
    {
        "id": "48f7ef786e93f602",
        "type": "inject",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1660,
        "wires": [
            [
                "be4ff56149c2f2b7"
            ]
        ]
    },
    {
        "id": "2359ad122c94b71a",
        "type": "http request",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2238550/fields/3.json?api_key=THS89KD5KM6IIIBL&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 1760,
        "wires": [
            [
                "f86d7a602f659009",
                "746567a80e726ef6"
            ]
        ]
    },
    {
        "id": "09672fa1be65e9ea",
        "type": "ui_chart",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "8d6b0f1683bb51ce",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Food",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "f86d7a602f659009",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 12",
        "func": "let obj = msg.payload;\nmsg.payload = obj.feeds[0].field3\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1760,
        "wires": [
            [
                "09672fa1be65e9ea"
            ]
        ]
    },
    {
        "id": "746567a80e726ef6",
        "type": "debug",
        "z": "b20ec8894eaf7fb1",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1800,
        "wires": []
    },
    {
        "id": "ad225c9720be20cd",
        "type": "inject",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1760,
        "wires": [
            [
                "2359ad122c94b71a"
            ]
        ]
    },
    {
        "id": "9dacc339fd81a4c1",
        "type": "http request",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2238550/fields/4.json?api_key=THS89KD5KM6IIIBL&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 1860,
        "wires": [
            [
                "1e76354094aab39a",
                "afd40a3ceb94acfe"
            ]
        ]
    },
    {
        "id": "89a4ad7bfbe48940",
        "type": "ui_chart",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "8d6b0f1683bb51ce",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Water",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "1e76354094aab39a",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 13",
        "func": "let obj = msg.payload;\nmsg.payload = obj.feeds[0].field4\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1860,
        "wires": [
            [
                "89a4ad7bfbe48940"
            ]
        ]
    },
    {
        "id": "afd40a3ceb94acfe",
        "type": "debug",
        "z": "b20ec8894eaf7fb1",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1900,
        "wires": []
    },
    {
        "id": "646c05fced2b7739",
        "type": "inject",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1860,
        "wires": [
            [
                "9dacc339fd81a4c1"
            ]
        ]
    },
    {
        "id": "3ced4e1e4a6301b3",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "c38f0a004a3c58cc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "back to Data Receiving 🔙",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "return data receiving",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 2020,
        "wires": [
            [
                "9381c16dfb3b2f7c"
            ]
        ]
    },
    {
        "id": "9381c16dfb3b2f7c",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 14",
        "func": "var payload = msg.payload;\n\nif (payload == \"return data receiving\")\n    msg.payload = { \"tab\": \"Data Receiving\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2020,
        "wires": [
            [
                "a137f91045ed8f1a"
            ]
        ]
    },
    {
        "id": "a137f91045ed8f1a",
        "type": "ui_ui_control",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "events": "all",
        "x": 680,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "b0b71d981619728a",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "8d6b0f1683bb51ce",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "back to menu 🔙",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "return menu",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 2080,
        "wires": [
            [
                "d4fd3a29a0503093"
            ]
        ]
    },
    {
        "id": "d4fd3a29a0503093",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 15",
        "func": "var payload = msg.payload;\n\nif(payload == \"return menu\")\n    msg.payload = { \"tab\": \"Menu\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2080,
        "wires": [
            [
                "8466c52afe05849e"
            ]
        ]
    },
    {
        "id": "8466c52afe05849e",
        "type": "ui_ui_control",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "events": "all",
        "x": 680,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "875a83b38c21d248",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "4ae676b669774922",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log out 📤",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "return login",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "597583433eb95d14"
            ]
        ]
    },
    {
        "id": "c3690e4c82e6ef7c",
        "type": "comment",
        "z": "b20ec8894eaf7fb1",
        "name": "LOGIN",
        "info": "FUNCTION 1 AND 2 ARE USED FOR CHECKING THE LOGIN CONDITION.\nFUNCTION 1 WILL RECEIVE MESSAGE FROM NODE \"FORM\"\nTHEN FUNCTION WILL CHECK THE USERNAME AND PASSWORD THAT ARE ENTERED:\nIF USERNAME = admin PASSWORD = admin, WEB WILL MOVE TO TAB MENU.\nOTHERWISE, IT WILL NOTIFY TO USER UNSUCCESFUL LOGIN.",
        "x": 70,
        "y": 60,
        "wires": []
    },
    {
        "id": "3d87f20c87d9ad0b",
        "type": "ui_template",
        "z": "b20ec8894eaf7fb1",
        "group": "14211e290d484a55",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: flex-start;\">\n    <p style=\"margin: 5px;\">Sản phẩm gồm 2 chức năng chính</p>\n    <p style=\"margin: 5px;\">1) Tự động làm đầy nước và thức ăn:</p>\n    <p style=\"margin: 15px;\">- Về thức ăn: khi lượng thức ăn trong khay đựng ít hơn 10 gram thì máy sẽ tự động làm đầy khay. Trọng lượng tối đa của lượng thức ăn được đổ vào là 150 gram.</p>\n    <p style=\"margin: 15px;\">- Về nước uống: khi lượng nước trong khay ít hơn 10 ml, máy sẽ tự động làm đầy khay nước. Số ml nước tối đa trong khay nước là 300 ml.</p>\n    <p style=\"margin: 5px;\">2) Tự động phun sương khi nhiệt độ phòng cao và độ ẩm không khí thấp:</p>\n    <p style=\"margin: 15px;\">-Máy sẽ đo nhiệt độ phòng và độ ẩm không khí. Khi nhiệt độ cao hoặc độ ẩm không khí thấp, máy sẽ tự động phun sương để hạ nhiệt và tăng độ ẩm. Ngoài ra, người dùng còn có thể bật/tắt phun sương thủ công trên web.\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "cab74d9fe6d80f5b",
        "type": "comment",
        "z": "b20ec8894eaf7fb1",
        "name": "PRODUCT INFORMATION",
        "info": "CONTAINING PRODUCT INFORMATION: OVERVIEW AND INNER GIF IMAGES, DISCRIPTION ABOUT EACH PART OF MACHINE AND HOW IT WORKS.",
        "x": 130,
        "y": 500,
        "wires": []
    },
    {
        "id": "d0a20abb8bd9e038",
        "type": "comment",
        "z": "b20ec8894eaf7fb1",
        "name": "DATA RECEIVING",
        "info": "CONTAINING ALL DATA FROM MACHINE'S SENSORS: TEMPERATURE, HUMIDITY, AMOUNT OF FOOD AND WATER LEFT. \nMOREOVER, USER CAN USE A SWITCH TO TURN ON OR OFF THE MISTING FUNCTION MAUALLY.",
        "x": 110,
        "y": 1100,
        "wires": []
    },
    {
        "id": "7b15a59b80efd23a",
        "type": "comment",
        "z": "b20ec8894eaf7fb1",
        "name": "NODE-RED -> WOKWI",
        "info": "ACTION OF TURNING ON/OFF THE SWITCH WILL SEND A MESSAGE THROUGHOUT MQTT PROTOCOL TO WOKWI.\nTHIS MESSAGE IS SAVED AS A VARIABLE IN WOKWI PROGRAM AND USED TO ACTIVATE FUNCTION IN WOKWI",
        "x": 320,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2b194a2e97bb1502",
        "type": "comment",
        "z": "b20ec8894eaf7fb1",
        "name": "WOKWI -> NODE-RED",
        "info": "DATA IN WOKWI IS TRANSMITTED TO NODE-RED DASHBOARD TO ANALYSE AND VISUALIZED IN NODE-RED UI",
        "x": 120,
        "y": 1240,
        "wires": []
    },
    {
        "id": "0edeff1670e7601f",
        "type": "comment",
        "z": "b20ec8894eaf7fb1",
        "name": "THINGSPEAK TO NODE-RED ",
        "info": "TAKING DATA SAVED IN THINGSPEAK BY USING NODE HTTP REQUEST\nTHEN, NODE FUNTION IS DESIGNED TO TAKE THIS DATA AND TRANSMIT TO NODE CHART TO VISUALIZE IT IN LINE CHART",
        "x": 150,
        "y": 1520,
        "wires": []
    },
    {
        "id": "716dd344b07cca18",
        "type": "comment",
        "z": "b20ec8894eaf7fb1",
        "name": "BUTTON TO MOVE TO OTHER TABS",
        "info": "",
        "x": 170,
        "y": 1960,
        "wires": []
    },
    {
        "id": "d2adcc2b4210857d",
        "type": "ui_text",
        "z": "b20ec8894eaf7fb1",
        "group": "61970d7d5fa66a46",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "details",
        "label": "Inner Details",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 150,
        "y": 860,
        "wires": []
    },
    {
        "id": "b34ef6d84a4ea869",
        "type": "ui_media",
        "z": "b20ec8894eaf7fb1",
        "group": "61970d7d5fa66a46",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 8,
        "category": "inner details",
        "file": "369663757_205977729128775_6350041808607172721_n.jpg",
        "layout": "expand",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 333.1111297607422,
        "y": 857.77783203125,
        "wires": [
            [
                "0adfc3189940947c"
            ]
        ]
    },
    {
        "id": "d7a4a575554f8a53",
        "type": "ui_media",
        "z": "b20ec8894eaf7fb1",
        "group": "68839c808d9d0a0d",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 3,
        "category": "inner details",
        "file": "369241806_1500577744129683_2232664301217571637_n.jpg",
        "layout": "expand",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 333.1111297607422,
        "y": 897.77783203125,
        "wires": [
            [
                "0adfc3189940947c"
            ]
        ]
    },
    {
        "id": "0adfc3189940947c",
        "type": "debug",
        "z": "b20ec8894eaf7fb1",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 880,
        "wires": []
    },
    {
        "id": "cc3ce4f02bef2c9f",
        "type": "ui_template",
        "z": "b20ec8894eaf7fb1",
        "group": "14211e290d484a55",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: flex-start;\">\n    <p style=\"margin: 5px;\">1: Màn hình điều khiển</p>\n    <p style=\"margin: 5px;\">2: Máy phun sương</p>\n    <p style=\"margin: 5px;\">3: Hộp đựng nước (cho máy phun sương)</p>\n    <p style=\"margin: 5px;\">4: Hệ thống dây điện và mạch ESP32</p>\n    <p style=\"margin: 5px;\">5: Hộp đựng nước (cho máy refill nước)</p>\n    <p style=\"margin: 5px;\">6: Hộp đựng thức ăn (cho máy refill thức ăn)</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "ec771ffc5206d80f",
        "type": "ui_button",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "group": "14211e290d484a55",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "data receiving 🔜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "data receiving",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "e8577d81bff46100"
            ]
        ]
    },
    {
        "id": "e8577d81bff46100",
        "type": "function",
        "z": "b20ec8894eaf7fb1",
        "name": "function 16",
        "func": "var payload = msg.payload;\n\nif(payload == \"data receiving\")\n    msg.payload = { \"tab\": \"Data Receiving\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "023695b57da9b355"
            ]
        ]
    },
    {
        "id": "023695b57da9b355",
        "type": "ui_ui_control",
        "z": "b20ec8894eaf7fb1",
        "name": "",
        "events": "all",
        "x": 600,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "00144c76d6f06ef0",
        "type": "ui_media",
        "z": "b20ec8894eaf7fb1",
        "group": "68839c808d9d0a0d",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "psc",
        "file": "z4623042202666_43d7c0bd8adb0568526968cd2c2e4e5e.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "cb9059140dcb9521"
            ]
        ]
    },
    {
        "id": "6d95a8968da511a2",
        "type": "ui_media",
        "z": "b20ec8894eaf7fb1",
        "group": "68839c808d9d0a0d",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 2,
        "category": "psc",
        "file": "z4623043522163_5f8f612c2ca565de5b74cb7d1c0e6fa9.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 330,
        "y": 620,
        "wires": [
            [
                "cb9059140dcb9521"
            ]
        ]
    },
    {
        "id": "9a417ebf5a857202",
        "type": "ui_text",
        "z": "b20ec8894eaf7fb1",
        "group": "14211e290d484a55",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "details",
        "label": "Main Functions",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 147.74998474121094,
        "y": 581.25,
        "wires": []
    },
    {
        "id": "ea787002b55c55e1",
        "type": "ui_text",
        "z": "b20ec8894eaf7fb1",
        "group": "14211e290d484a55",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "details",
        "label": "Outside Discription",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 150,
        "y": 760,
        "wires": []
    },
    {
        "id": "2f9f054ecdd72d4c",
        "type": "ui_text",
        "z": "b20ec8894eaf7fb1",
        "group": "14211e290d484a55",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "details",
        "label": "Inner Discription",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 150,
        "y": 900,
        "wires": []
    },
    {
        "id": "19dc4b26bc7d22b0",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "6046b9cf23ffb9b7",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "b697cfa99555329d",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "6046b9cf23ffb9b7",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "916b083ecc605f73",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "6046b9cf23ffb9b7",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "280ebab36f6a05ee",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "d62fcf48d6256876",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "a64a657f1b0d1dd6",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "d62fcf48d6256876",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "e0260d5640267ef1",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "d62fcf48d6256876",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "105c5eae573c031e",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "325f74147f5835f1",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "43dfcd30e3c9cb39",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "325f74147f5835f1",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "111d617ea0e1e629",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "325f74147f5835f1",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "8fd3a3f1d6f12548",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "325f74147f5835f1",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "4a109d304dc56fad",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "325f74147f5835f1",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "f6c9fca70a0cbc65",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "325f74147f5835f1",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "f0f8b8bf95e6624b",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "325f74147f5835f1",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "5ed9cfdb38495344",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "325f74147f5835f1",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "10f70f9041e0bd59",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "d5eb595bc5b9eb81",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "84ecbe4322819118",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "d5eb595bc5b9eb81",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "2aabd155de4bafd8",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "d5eb595bc5b9eb81",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "77fe3c590ec312b7",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "d5eb595bc5b9eb81",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "2e65d940f8906408",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "61970d7d5fa66a46",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "cf444510ade9ceea",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "61970d7d5fa66a46",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "dca7fb257197ac0d",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "61970d7d5fa66a46",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "47a2c53e4bf1d851",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "61970d7d5fa66a46",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "d9ebb79991e5d1de",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "68839c808d9d0a0d",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "501c345e2bba42d7",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "14211e290d484a55",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "283e0c7613a5b92e",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "14211e290d484a55",
        "order": 6,
        "width": 8,
        "height": 1
    },
    {
        "id": "b33bbb9af4e10640",
        "type": "ui_spacer",
        "z": "b20ec8894eaf7fb1",
        "name": "spacer",
        "group": "14211e290d484a55",
        "order": 7,
        "width": 8,
        "height": 1
    },
    {
        "id": "160add999d0748a9",
        "type": "ui_group",
        "name": "Login",
        "tab": "01c8cd3d3a31733a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61970d7d5fa66a46",
        "type": "ui_group",
        "name": "PRODUCT INFORMATION 📖",
        "tab": "3922423a7722910f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "975d8706145af5ed",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d253555ef448e8b0",
        "type": "ui_group",
        "name": "Measurement 🌡️💦",
        "tab": "76520ca94b9a8cd0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "344765c4563d993a",
        "type": "ui_group",
        "name": "Food-Water Status ⚖️",
        "tab": "76520ca94b9a8cd0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14211e290d484a55",
        "type": "ui_group",
        "name": "DISCRIPTION",
        "tab": "3922423a7722910f",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "68839c808d9d0a0d",
        "type": "ui_group",
        "name": " ",
        "tab": "3922423a7722910f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ae676b669774922",
        "type": "ui_group",
        "name": "Menu",
        "tab": "5586d4da26bbcf42",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1745d8e2d6296b68",
        "type": "ui_group",
        "name": "Contact Information",
        "tab": "4052f08a42195e61",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c38f0a004a3c58cc",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "5c525458da364c2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d6b0f1683bb51ce",
        "type": "ui_group",
        "name": " Food and Water",
        "tab": "5c525458da364c2e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01c8cd3d3a31733a",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3922423a7722910f",
        "type": "ui_tab",
        "name": "Product Information",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "76520ca94b9a8cd0",
        "type": "ui_tab",
        "name": "Data Receiving",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "5586d4da26bbcf42",
        "type": "ui_tab",
        "name": "Menu",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "4052f08a42195e61",
        "type": "ui_tab",
        "name": "Contact Us",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "5c525458da364c2e",
        "type": "ui_tab",
        "name": "Data Visualization",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": true
    }
]